*, *::after, *::before{
  margin: 0;
  padding: 0;
  outline: none;
}

.container{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.3);
  padding: 0 10px;

  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 26px;
}